<form class="form-inline">
  <div class="row">

    <div class="col-sm">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">School Name</div>
        </div>
        <div class="col-sm-8">
          <input type="text" id="inputSchoolName" class="form-control" placeholder="School Name">
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Registration No.</div>
        </div>
        <div class="col-sm-8">
          <input type="text" id="inputRegistrationNo" class="form-control" placeholder="School Registration Number">
        </div>
      </div>
    </div>

    <app-address id="schoolAddress"></app-address>    
    <br />

    <div class="row">
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Board Name</div>
          </div>
          <div class="col-sm-8">
            <input type="text" id="inputSchoolName" class="form-control" placeholder="School Name">
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Registration No.</div>
          </div>
          <div class="col-sm-8">
            <input type="text" id="inputRegistrationNo" class="form-control" placeholder="School Registration Number">
          </div>
        </div>
      </div>
    </div>
    <app-address id="boardAddress"></app-address> 

  <br/>  
    <div class="row">
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Branch Name</div>
          </div>
          <div class="col-sm-8">
            <input type="text" id="inputSchoolName" class="form-control" placeholder="School Name">
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Registration No.</div>
          </div>
          <div class="col-sm-8">
            <input type="text" id="inputRegistrationNo" class="form-control" placeholder="School Registration Number">
          </div>
        </div>
      </div>
    </div>

   <app-address id="branchAddress"></app-address>    
  </div>
  
  <br>
  <mat-divider></mat-divider>
  <br>
  <section>
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
      <div class="col-sm">
        <button mat-flat-button  onclick="getDeptList()">Reset</button>        
      </div>
      <div class="col-sm">
        <button mat-flat-button>Save</button>
      </div>
    </div>
</section>
</form>

{{cou?.country_name}}
